<?php

use Dalt\Core\Auth;

?><!DOCTYPE html>
<html lang="en-US">
    <head>    
        <meta charset="utf-8">
        <title><?php echo(isset($title) ? $title : ''); ?></title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <link rel="shortcut icon" href="/favicon.ico">

<?php $this->assets->outputCss(); ?>

<?php $this->assets->outputJs(); ?>       

    </head>
    <body>

        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>                
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-book"></span> <?php echo $this->config->siteName; ?></a>
                </div>            
                <div class="header">
                    <div class="navbar-collapse collapse">
                    <ul class="nav nav-pills pull-right restricted-area">
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact" id="contact">Contact</a></li>  
                        <?php if (Auth::isAuth()) { ?>
                        <li>
                                <a href="/login/logout/" id="logout"><span class="glyphicon glyphicon-log-in"></span> 
                                    Logout [<?php echo Auth::getUser(); ?>]
                                </a>
                        </li>
                        <?php } else { ?>
                        <li><a href="/registration" id="contact">Registration</a></li>  
                        <li>
                                <a href="/login/" id="login"><span class="glyphicon glyphicon-log-out"></span> Login</a>
                        </li>
                        <?php } ?>
                    </ul>
                    </div>
                </div>          

            </div>
        </div>

        <!-- Begin page content -->
        <div class="container">
            <?php echo $content; ?>    
        </div>

        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-muted">Copyright &copy; <?php echo date('Y'); ?></p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-muted text-right">
                            <small>
                                Generated for <?php echo $this->benchmark->elapsedTime('begin', 'end'); ?> sec. 
                            </small>
                        </p>
                    </div>                    
                </div> 
            </div>
        </div>

    </body>
</html>
