<div class="page-header">
    <h1>Users</h1>
</div>

<div class="row">
  <div class="col-md-12">
      
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Login</th>
          <th>Email</th>
          <th>Name</th>
          <th>Registration</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
<?php
if ($this->users) {
    foreach ($this->users as $user) {
?>          
        <tr>
          <td><?php echo $user->user_id; ?></td>
          <td><?php echo $user->login; ?></td>
          <td><?php echo $user->email; ?></td>
          <td><?php echo $user->firstname . ' ' . $user->lastname; ?></td>
          <td><?php echo $user->registration_date; ?></td>
          <td><?php echo $user->getType(); ?></td>
        </tr>
    <?php } ?>        
<?php } ?>        
      </tbody>
    </table>    
    </div>
</div>

<?php
include 'pagination.htm';
?> 