

<div class="row">

    <div class="col-lg-12">
        <div class="page-header">
            <h1>Mainpage</h1>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod? Duis quis dolor viverra, vehicula massa ut, consequat risus. Duis a ante id ex aliquam laoreet. Proin elit eros, pellentesque eget risus sit amet, feugiat lacinia nisl. Nam erat nisl, finibus ut aliquam non, pulvinar ac sem. Pellentesque eget facilisis purus, non facilisis turpis.</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
            </div>
            <div class="panel-body">
                <p>Aliquam dui purus, condimentum at eleifend et, lacinia at lectus. Proin elit eros, pellentesque eget risus sit amet, feugiat lacinia nisl. Nam erat nisl, finibus ut aliquam non, pulvinar ac sem. Pellentesque eget facilisis purus, non facilisis turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas accumsan, enim sit amet finibus iaculis, arcu sem vehicula metus, non molestie leo lacus ut quam.</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>


    <div class="col-md-12">

        <p>
            Nullam scelerisque feugiat tortor, non pellentesque turpis bibendum in. Maecenas ornare enim sit amet libero gravida lobortis. Vestibulum consequat lectus ut arcu ultricies aliquam. Donec nec ex sit amet sem ullamcorper dictum. Pellentesque quis turpis urna. Aliquam dignissim, ligula eget faucibus semper, mauris mauris gravida orci, vitae mattis ligula enim sed lectus. Integer eu tristique lectus, quis luctus ipsum. Morbi aliquet enim et mauris fermentum vulputate. Quisque ac pulvinar dui, id viverra felis. Pellentesque molestie massa semper, tempor mauris at, porta nisi. Nam sodales condimentum enim, ut sagittis erat euismod at. Morbi at tincidunt mauris. Pellentesque a tincidunt ligula. Praesent sit amet ipsum aliquam, sollicitudin est a, blandit lorem. Morbi id auctor quam. Nunc ut lectus nec nibh porta elementum vel ac lorem.
            Aliquam sollicitudin mollis nisi bibendum tempor. Maecenas sed efficitur lorem. Nunc dapibus ultricies leo, id cursus metus cursus sed. Maecenas blandit ornare cursus. Pellentesque in pulvinar massa. Aliquam odio ante, mollis et mattis sit amet, vehicula vel ex. Aliquam erat volutpat. In hendrerit neque eget egestas fringilla. Quisque non nisl ipsum. Vestibulum sed eros nec leo tempus feugiat et sed sem. Pellentesque porttitor libero quis laoreet luctus.
        </p>
        <p>
            Maecenas sed efficitur lorem. Aliquam sollicitudin mollis nisi bibendum tempor. Nunc dapibus ultricies leo, id cursus metus cursus sed. Maecenas blandit ornare cursus. Pellentesque in pulvinar massa. Aliquam odio ante, mollis et mattis sit amet, vehicula vel ex. Aliquam erat volutpat. In hendrerit neque eget egestas fringilla. Quisque non nisl ipsum. Vestibulum sed eros nec leo tempus feugiat et sed sem. Pellentesque porttitor libero quis laoreet luctus.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat diam id elit ornare, non vestibulum nisi sagittis. Nunc purus purus, pretium at sapien ac, sagittis bibendum lacus. Curabitur sem quam, gravida pretium tristique quis, ullamcorper eget lorem. Proin hendrerit nibh a nisi interdum volutpat. Aliquam pellentesque tortor at convallis fermentum. Mauris et orci vitae sapien hendrerit gravida at in lacus. Pellentesque auctor quam vitae urna porttitor placerat. Sed et neque nisi. Nunc ac laoreet massa. Aenean tincidunt, ligula sed semper condimentum, neque ligula tristique ex, vitae tempor dolor ipsum sed metus. Nunc sollicitudin ullamcorper eros, vel vestibulum dui ullamcorper at. Sed tristique posuere eleifend. Vivamus rutrum consequat est sit amet aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sodales sem eget ligula porta faucibus.
        </p>
        <p>
            Aliquam dui purus, condimentum at eleifend et, lacinia at lectus. Proin elit eros, pellentesque eget risus sit amet, feugiat lacinia nisl. Nam erat nisl, finibus ut aliquam non, pulvinar ac sem. Pellentesque eget facilisis purus, non facilisis turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas accumsan, enim sit amet finibus iaculis, arcu sem vehicula metus, non molestie leo lacus ut quam. Vestibulum laoreet purus tempus nulla consectetur tempus. Duis quis dolor viverra, vehicula massa ut, consequat risus. Duis a ante id ex aliquam laoreet.
        </p>
        <p>
            Pellentesque rhoncus dolor eget posuere molestie. Integer vel dui nibh. Suspendisse non molestie neque. Nullam quis erat rutrum, consectetur mi volutpat, pellentesque sapien. Curabitur lectus orci, pellentesque in tempus non, pretium eu ante. Aenean lobortis tincidunt sodales. Phasellus erat purus, porttitor in mauris quis, fermentum laoreet arcu. Etiam et ipsum quis augue molestie tincidunt et eget dolor. Vivamus in nibh tempus, pharetra urna at, facilisis elit. Donec quis turpis porta, tincidunt mi eu, volutpat odio.
        </p>
        <p>
            Nullam scelerisque feugiat tortor, non pellentesque turpis bibendum in. Maecenas ornare enim sit amet libero gravida lobortis. Vestibulum consequat lectus ut arcu ultricies aliquam. Donec nec ex sit amet sem ullamcorper dictum. Pellentesque quis turpis urna. Aliquam dignissim, ligula eget faucibus semper, mauris mauris gravida orci, vitae mattis ligula enim sed lectus. Integer eu tristique lectus, quis luctus ipsum. Morbi aliquet enim et mauris fermentum vulputate. Quisque ac pulvinar dui, id viverra felis. Pellentesque molestie massa semper, tempor mauris at, porta nisi. Nam sodales condimentum enim, ut sagittis erat euismod at. Morbi at tincidunt mauris. Pellentesque a tincidunt ligula. Praesent sit amet ipsum aliquam, sollicitudin est a, blandit lorem. Morbi id auctor quam. Nunc ut lectus nec nibh porta elementum vel ac lorem.
        </p>


    </div>
</div>

<?php
include 'pagination.htm';
?>