
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 0px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.page-header {
    margin-top: 0px;
}

.pointer {
    cursor: pointer;
}

.restricted-area {
    padding-top: 4px;
}

.round404 {
    width: 100px;
    height: 100px;
    background: white;
    border: 2px solid #939393;
    line-height: 100px;
    text-align: center;
    font-size: 45px;
    color: blue;
    border-radius: 530px;
    color: gray;
    float: right;
}

.cur_page {
    color: #333;
}

div.navbar-collapse.collapse {
    padding-right: 0px;
}