

#hint {
    display: none;
    position: absolute;
    padding: 5px;
    margin: -15px auto auto 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px 2px rgba(0,0,0,.3);
    background-color: #fff;
    z-index: 100500;
}

.pointer {
    cursor: pointer;
}

.restricted-area {
    padding-top: 4px;
}

.text-padding {
    padding-top: 6px;
}
