
<div class="row">
    <div class="col-md-4">
        <br><br>
        <div class="round404">404</div>       
    </div>      
    <div class="col-md-8">
        <div>
            <h3>Requested page was not found</h3>

            <h4>Please use the navigation or links below to find what you looking for. </h4>

            <ul>
                <li>Please check the URL in the browser address bar</li>
                <li><a href="/">Go to homepage</a> and start the journey again</li>
            </ul>
            <p>We recorded this incident and try to fix it.</p>        
        </div>
    </div>

</div>